.parrafo{
    font-family: "Lato";
    font-size: 22px;
    /*color: #EC7063;*/
    color: #17202A;
}
.parrafo2{
    font-family: "Fjalla One";
    font-size: 22px;
    color: #2C3E50;
    /*color: #D5DBDB;*/
}
.titulo{
    
    font-size: 26px;
    color: #F1C40F;
}
.titulo2{
    
    font-size: 26px;
    color: #A04000;
}

.carouselImage{
    width: 350px;
}

.imgPersonaje{
    width: 150px;
    height: 150px;
}

.imgMapa{
    width: 150px;
    height: 150px;
}

.center {
    text-align: center;
}